@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis"),
    url(assets/fonts/Metropolis/Metropolis-Regular.otf) format("truetype");
}

body {
  font-family: "Metropolis";
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.scroll-container::-webkit-scrollbar {
  width: 12px;
  /* vertical scrollbar */
  height: 4px;
  /* horizontal scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #314158;
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark .scroll-container::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
}

@theme static {
  --sidebar-padding: 0.5rem;
  --collapsed-sidebar-width: 4rem;
  --expanded-sidebar-width: 12rem;
  --collapsed-sidebar-element-size: calc(
    var(--collapsed-sidebar-width) - (2 * var(--sidebar-padding))
  );
  --sidebar-icon-size: calc(var(--collapsed-sidebar-element-size) - 1.25rem);
}
